nav {
    padding: 0 3rem;    

    .inner {
        display: flex;
        justify-content: flex-end;
        // border-bottom: 1px solid $white;
        padding: 15px 0;        

        a {
            color: $secondary;
            @include work;
            text-transform: uppercase;
            font-size: 14px;
            font-weight: 400;
            text-decoration: none;
            transition: color 240ms ease-in-out, text-decoration 240ms ease-in-out;
            
            &:focus,
            &:hover {
                color: $white;
                text-decoration: underline;
            }
        }
    }
}