nav {
    padding: 0 50px;    

    .inner {
        display: flex;
        justify-content: flex-end;
        border-bottom: 1px solid $white;
        padding: 15px;        

        a {
            color: $white;
            @include roboto;
            // text-transform: uppercase;
            font-size: 14px;
            font-weight: 300;
            text-decoration: none;
            transition: color 240ms ease-in-out, text-decoration 240ms ease-in-out;
            
            &:focus,
            &:hover {
                color: $secondary;
                text-decoration: underline;
            }
        }
    }
}